.container {
    background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)),
    url("https://www.seriouseats.com/thmb/GTMn_mwXk7a2Yr8Ul7g_1YNvGAk=/1500x1125/filters:fill(auto,1)/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__recipes__images__2015__02__20150228-vegan-loaded-queso-dip7-a5de9d77868040ccb3148ca6bc80b188.jpg ");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.signupForm {
  width: 40%;
  padding: 20px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 3px;

}

p {
  font-size: 12px;
  margin: 20px 0px;
}

.signupForm button {
  width: 60%;
  border: none;
  padding: 15px 20px;
  background-color: yellowgreen;
  color: white;
  cursor: pointer;
}