.container {
  height: 20vh;
  background-image: url("https://www.seriouseats.com/thmb/GTMn_mwXk7a2Yr8Ul7g_1YNvGAk=/1500x1125/filters:fill(auto,1)/__opt__aboutcom__coeus__resources__content_migration__serious_eats__seriouseats.com__recipes__images__2015__02__20150228-vegan-loaded-queso-dip7-a5de9d77868040ccb3148ca6bc80b188.jpg ");
  display: flex;
  background-size: cover;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px;
}

.container h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.container p {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}

.inputContainer {
  width: 50%;
  height: 40px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  border: 1px solid lightgray;
}

.inputContainer input {
    border: none;
    flex: 8;
    padding-left: 20px;    
}

.inputContainer button {
    flex: 1;
    border: none;
    background-color: yellowgreen;
    color: white;
}