
.productContainer {
    flex: 1;
    margin: 5px;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 223, 185);
    flex-direction: column;
    position: relative;
    box-shadow: -10px 0px 10px 1px #aaaaaa;
    border-radius: 5px;;
}

.iconsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
}

.imageContainer {
  display: flex;
  width: 150px;
  padding-top: 5px;
  justify-content: center;
  
}

.imageContainer img {
  width: 70%;
  height: auto;
  border-radius: 5px;
  padding: 5px;
}

.infoContainer {
  width: 80;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}